<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', path='node_modules/star-rating.js/dist/star-rating.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='node_modules/@sweetalert2/theme-borderless/borderless.css') }}"
        rel="stylesheet">
</head>


<body oncontextmenu="return false;">
    <div class="grid grid-cols-[60%_40%] h-screen  p-2 overflow-x-hidden ">

        <!-- Invoice Section -->
        <section class="flex flex-col bg-white shadow-lg rounded-2xl  overflow-y-auto ">

            <!-- Header -->
            <div class="rounded-t mb-0 px-4 py-3 border-b">
                <div class="flex justify-between items-center">
                    <h1 class="font-bold text-lg text-gray-700">
                        <i class="fa-solid fa-receipt pr-1"></i> FACTURA
                    </h1>
                    <button
                        class="bg-[#b1834a] text-white active:bg-amber-600 text-xs font-bold uppercase px-3 py-1 rounded transition-all duration-150">
                        Kiaby
                    </button>
                </div>
            </div>

            <!-- Product Table -->
            <div class="table-wrp block max-h-96">
                <table class="w-full">
                    <table class="w-full divide-y divide-gray-200  text-left ">
                        <thead class=" text-white uppercase bg-[#B1834A]  sticky top-0 ">
                            <tr>
                                <th class="text-base pl-2 py-3 rounded-s-lg">Nombre Producto</th>
                                <th class="text-base py-3">CNT</th>
                                <th class="text-base py-3">Precio</th>
                                <th class="text-base pr-2 py-3 rounded-e-lg">SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody id="productTableBody" class="h-96 bg-white divide-y divide-gray-200 overflow-y-auto">
                            <!-- Example Row: Products will be populated here -->
                            <tr>
                                <th scope="row" class="font-semibold text-dark text-break">${item.productName}</th>
                                <td class="text-body-secondary">${item.productQty}</td>
                                <td class="text-body-secondary">${item.productPrice}</td>
                                <td class="text-body-secondary">${item.productSubtotal}</td>

                            </tr>
                        </tbody>
                    </table>
            </div>

            <!-- Total Amount -->
            <div class="mt-auto px-4 py-6 bg-[#B1834A]">
                <div class="flex justify-between items-center text-xl">
                    <div class=" big-total-info text-white">

                    </div>
                    <div class="big-total font-bold text-white">
                        <h1 class="text-4xl animate__animated animate__bounce">$${data.bigTotal}</h1>

                    </div>
                </div>
            </div>

        </section>

        <!-- Summary Section -->
        <section class="card shadow-lg rounded-2xl p-2 pt-4 flex  items-center flex-col bg_img">
            <div class="thank-you text-lg mt-1"></div>
            <img class="max-h-20" src="{{ url_for('static', path='/img/logo-kiaby.png') }}" alt="" srcset="">
            <div class="flex flex-row justify-between mt-10 gap-4">
                <div class="  bg-[#310a31]  p-1 rounded-2xl flex flex-col justify-between items-center ">
                    <h1 class="text-2xl text-white font-bold">QR NEQUI</h1>
                    <img class="h-56 w-56 rounded-lg object-cover" rounded-lg" src="{{ url_for('static', path='/img/QR/nequi_store.jpg') }}" alt=""
                        srcset="">
                </div>
                <div
                    class="  bg-[#EC1C26] p-1 rounded-2xl flex flex-col justify-between items-center ">
                    <h1 class="text-2xl text-white font-bold">QR DAVIPLATA</h1>
                    <img class="h-56 w-56 rounded-lg object-cover"" src="{{ url_for('static', path='/img/QR/daviplata_store.jpg') }}"
                        alt="" srcset="">
                </div>

            </div>
            <div class="flex flex-row justify-between mt-20 gap-4">
                <div
                    class="h-56 w-56 bg-white  p-4 rounded-2xl text-center  shadow-lg flex flex-col justify-between items-center ">
                    <h1 class="text-2xl text-dark font-bold">METODOS DE PAGO</h1>
                    <img class="w-36 " src="{{ url_for('static', path='/img/QR/acepted-payments.png') }}" alt=""
                        srcset="">
                </div>
                <div
                    class="h-56 w-56 bg-black rounded-2xl text-white text-center flex flex-col justify-between items-center  p-4">
                    <img class="size-24" src="{{ url_for('static', path='/img/wifi_gratis.png') }}" alt="" srcset="">
                    <h1 class="text-xl  font-bold ">WIFI GRATIS</h1>
                    <h1 class="text-base  font-semibold">Red: Kiaby Clientes</h1>
                </div>

            </div>

        </section>


        <!-- slideshow -->

    </div>
    <section class="slideshow"></section>

    <style>
        .bg_img {
            background-image: url("{{ url_for('static', path='/img/background.png') }}");
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


    <script src="https://kit.fontawesome.com/cac5544010.js" crossorigin="anonymous"></script>

</body>
<style>
    .table-wrp {
        max-height: 75vh;
        overflow-y: auto;
        display: block;
    }

    thead {
        position: sticky;
        top: 0
    }
</style>

<script src="{{ url_for('static', path='node_modules/star-rating.js/dist/star-rating.min.js') }}"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script src="{{ url_for('static', path='node_modules/sweetalert2/dist/sweetalert2.min.js') }}"></script>

<script src="{{ url_for('static', path='/js/slideshow.js') }}"></script>
<script src="{{ url_for('static', path='/js/display.js') }}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />



</html>